.hidden {
    display: none;
}

@font-face {
    font-family: pricedown;
    src: url(fonts/pricedown.ttf);
}

@font-face {
    font-family: poppins-bold;
    src: url(fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppins-medium;
    src: url(fonts/Poppins-Medium.ttf);
}

body {
    position: fixed;
    max-width: 100vw;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(50, 142, 233, 0.3);
}

.cs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cs_title {
    padding: 20px 0;
    border-bottom: 10px solid white;
    align-self: center;
    width: 90%;
    margin-bottom: 40px;
}

.cs_title > h1 {
    margin: 0;
    font-family: pricedown;
    color: white;
    font-size: 5em;
    text-align: center;
    align-self: center;
}


.cs_selection {
    display: grid;
    align-self: center;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.cs_box {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.cs_name {
    font-family: poppins-bold;
    color: #328EE9;
    border: 2px solid #328EE9;
    align-self: center;
    padding: 10px;
    width: 80%;
    text-align: center;
    margin: 20px 0;
}

.cs_job, .cs_bank, .cs_cash, .cs_birth {
    font-family: poppins-medium;
    color: black;
    align-self: center;
    margin: 0rem;
}

.cs_play {
    
}

.cs_button {
    font-family: pricedown;
    color: white;
    border: 2px solid white;
    background-color: #328EE9;
    align-self: center;
    padding: 10px;
    width: 80%;
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
    cursor: pointer;
    outline: none
}